body {
  background: green;
}

a.button {
  display: block;
  width: 300px;
  height: 50px;
  background: SandyBrown;
  font-family: Arial;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  color: #444;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
}
a.button:hover {
  background: #f7bf90;
}

.card {
  width: 300px;
  height: 440px;
  position: relative;
  margin: 20px auto;
}
.card .back {
  font: Times New Roman, serif;
  text-align: center;
  background-image: url("./CardFront.png");
  border: black solid 1px;
  border-radius: 15px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  height: 100%;
}
.card .back p {
  color: white;

}

.card .back .card-title {
  font-size: 13px;
  font-weight: bold;
  margin: 8px;
  text-shadow: 1px 1px black;
}

.card .back .card-description {
  position : absolute;
  top: 254px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.deck {
  position: absolute;
  top: 4px;
  left: 25%;
  z-index: -1;
}

.deck-cards {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 440px;
  border-radius: 15px;
  border-color: white;
  background-image: url("./CardBack.png");
  border: black solid 5px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
}
.deck-cards p {
  font: 150px/440px Times New Roman, serif;
  text-align: center;
}

.front {
  border-radius: 15px;
  border: black solid 5px;
  width: 300px;
  height: 440px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  background-image: url("./CardFront.png");
}